.redBK {
    background-color: rgb(255, 101, 101);
}
.orangeBK {
    background-color: rgb(255, 200, 99);
}
.yellowBK {
    background-color: rgb(255, 255, 97);
}

.greenBK {
    background-color: rgb(101, 255, 101);
}

.whiteBK {
    background-color: white;
    border: 1px solid black;
}